.business {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-end;
  flex-basis: 50%;
}
.business-icon {
  margin-right: 10px;
}
.business-quantity {
  width: 80px;
  border-radius: 30px;
  background-color: #df8a4e;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  border: 1px solid #dedede;
}
.business-buy-and-timer {
  display: flex;
  flex-wrap: wrap;
}
.business-buy {
  padding: 5px 10px 0;
  width: 220px;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.business-buy.active {
  background-color: #ff9900;
}
.business-timer {
  padding-top: 5px;
  width: 110px;
  text-align: center;
  border: 2px solid #dedede;
  border-radius: 5px;
}