body {
  background-color: #1993ce;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  color: #dedede;
}
.App {
  max-width: 992px;
  margin: auto;
  padding: 30px;
  background-color: #272727;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
}
.businesses {
  display: flex;
}